@import url('https://fonts.googleapis.com/css2?family=Alkalami&family=Gemunu+Libre:wght@600;800&family=Righteous&display=swap');



* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: century;
}

header {
width: 100%;
    background-image: url(./images/gite-article.png);
    height: 1000px;
    background-size: cover;
    background-position: center;
    
}


.navbar{
    width: 100%;
    border: solid;
    height: 200px;

}

ul
{
    list-style: none;
    display: flex;
   justify-content: center;
   align-items: center;
   height: ;
}
    
ul li a 
{
    
    
    text-decoration: none;
    color: rgba(5, 5, 5, 0.856);
    padding: 10px 20px;
    text-transform: uppercase;
    border: 1px solid;
    margin: 10px;
}
.Menu
{

}

.titre h1
{
    margin: 5%;
    font-family: 'Righteous', cursive;
}     
 

    





    


